/*============================================================*/
/* Variables */
/*============================================================*/

:root {
  /* Colors */
  --color1: #222;
  --color2: #505050;
  --text1-color: #ba8d63;
  --text1-color-dark: #a77a4c;

  /* URL Paths */
  --blackstatic: url("/backgrounds/black-static.png");
  --greystatic: url("/backgrounds/grey-static.png");
}

@font-face {
  font-family: 'WesternBangBang';
  src: url('/fonts/WesternBangBang.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*============================================================*/
/* Bootstrap Override */
/*============================================================*/

.navbar {
  --bs-navbar-color: var(--text1-color);
  --bs-navbar-hover-color: var(--text1-color-dark);

  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(186, 141, 99, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

  background: var(--color1);
}

.navbar-collapse.collapse.show {
  padding-bottom: 1rem;
}

.nav-link {
  --bs-nav-link-font-size: 32px;
  --bs-nav-link-font-weight: 500;

  position: relative;
  display: inline-block;
  text-decoration: none;

  font-family: 'WesternBangBang', sans-serif;
  text-shadow: 4px 4px 6px rgba(0,0,0,0.5);
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--bs-nav-link-hover-color);

  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.25s ease-in-out;
}

.nav-link:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.navbar-toggler {
  border: none;
  padding: 0;
  font-size: 30px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.toggler-icon {
  width: 30px;
  height: 22px;
  position: relative;
  display: inline-block;
}

.toggler-icon span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--text1-color);
  left: 0;
  transition: all 0.3s ease;
}

.toggler-icon span:nth-child(1) {
  top: 0;
}
.toggler-icon span:nth-child(2) {
  top: 9px;
}
.toggler-icon span:nth-child(3) {
  top: 18px;
}

.navbar-toggler:not(.collapsed) .toggler-icon span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px;
}

.navbar-toggler:not(.collapsed) .toggler-icon span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .toggler-icon span:nth-child(3) {
  transform: rotate(-45deg);
  top: 9px;
}
